# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.venv/
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/
# Metro
.metro-health-check*

backend/venv311/
venv311/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
IMPLEMENTATION_SUMMARY.md
FIXES_APPLIED.md
WEB_DEVELOPMENT.md
DEVELOPMENT_STATUS.md
deploymentkeys.md
backendDev.md
DEPLOYMENT_GUIDE.md
fix2.md
QUICK_START_GUIDE.md
TESTING_GUIDE.md